<h1 class="display-1">Carrito</h1>

<ul class="list-group">
    <div *ngFor="let product of cart">
        <app-cart-item [product]="product" (emitter)="updateTotal()"></app-cart-item>
    </div>
</ul>

<div *ngIf="!voidCart()">
    <h1 class="display-1 total">Total: ${{ total }}</h1>

    <button class="btn btn-dark btn-lg" routerLink="/checkout">Continuar</button>
</div>

<div *ngIf="voidCart()">
    <h2>Carrito vacío</h2>
    <button class="btn btn-dark" routerLink="/tienda">
        Ir a la tienda
    </button>
</div>

<!-- <h1>Carrito en desarrollo</h1> -->