<h1>Tienda en desarrollo</h1>

<!-- <div class="spinner-border" role="status" *ngIf="loading">
    <span class="visually-hidden">Loading...</span>
</div>

<ul class="list-group">
    <div *ngFor="let product of productList">
        <li class="list-group-item">Id de producto: {{ product.id_product }} - Nombre: {{ product.name }} - Descripcion: {{ product.description }} - Foto: {{ product.urlPh }} - Categoría: {{ product.category }} - Precio: {{ product.price }} - Stock: {{ product.stock }}</li>
    </div>
</ul> -->