.row {
    margin: 15px;
}
* {
    text-align: center;
}
h2 {
    margin-top: 50px;
}
.card {
  cursor: pointer;
}



/* Ocultar productos que superen la cantidad en la primera fila para cada resolución */
@media (max-width: 576px) {
  .row.row-cols-2 .col:nth-child(n+3),
  .row.row-cols-sm-4 .col:nth-child(n+5),
  .row.row-cols-xl-6 .col:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 1200px) {
    .row.row-cols-sm-4 .col:nth-child(n+5),
    .row.row-cols-xl-6 .col:nth-child(n+7) {
      display: none;
    }
}