<form>
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username">

    <label for="password">Contraseña</label>
    <input type="text" id="password" name="password" [(ngModel)]="password">

    <input type="submit" (click)="onSubmit()">

    <div class="spin" *ngIf="loading">
        Cargando
    </div>

    <div class="alert" *ngIf="logged">
        Inicio de sesion exitoso
    </div>
    
    <div class="alert" *ngIf="error">
        Error
    </div>
</form>