<div class="alert alert-danger" *ngIf="error">
    Error
</div>

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-sm-4">
        <img src="../../../../../assets/img/png-transparent-computer-icons-badmintonclick-store-rectangle-logo-black.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <div class="spinner-border" role="status" *ngIf="loading">
            <span class="visually-hidden">Loading...</span>
          </div>
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><small class="text-muted">Categoría: {{ product.category }}</small></p>
          <div class="card-footer">
            <h1>${{ product.price }}</h1>
            <br>
            <button class="btn btn-dark disabled">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center">
      <h5 class="card-title">Comentarios</h5>  
    </div>
    <div class="d-flex justify-content-center">
      <h6 class="card-subtitle mb-2 text-muted">Nadie hizo comentarios todavía</h6>
    </div>
  </div>
  <!-- <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
    </ul>
  </div> -->
</div>

<app-recommended></app-recommended>