<!-- <div class="alert alert-danger">Checkout en desarrollo</div>-->
<!-- <div class="d-flex justify-content-center">
    <button class="btn btn-dark" routerLink="/inicio">Ir a inicio</button>
</div> -->

<div class="d-flex justify-content-center">
    <h1 class="display-1">
        Checkout
    </h1>
</div>

<div class="d-flex justify-content-center">
    <h1>
        Total: ${{ total }}
    </h1>
</div>

<div class="d-flex justify-content-center">
    <button [class]="btnClass" (click)="onSubmit()">
        Confirmar compra
    </button>
</div>

<div class="spinner-border" role="status" *ngIf="loading">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="alert alert-success" *ngIf="success">
    Compra realizada con éxito
</div>

<div class="alert alert-danger" *ngIf="error">
    Error
</div>